{% extends 'homesapp/base.html' %}
{% load staticfiles %}
{% block body%}
<br>
<div class="home-card">
    <div class = "container">
        <br>
        <h2>Property Details</h2>
        <table class="table">
            <tbody>
                <tr>
                    <td>Property Name</td>
                    <td>{{ property.property_name }}</td>
                </tr>
                <tr>
                    <td>Area</td>
                    <td><b>{{ property.area }}</b></td>
                </tr>
                <tr>
                    <td>Age</td>
                    <td><b>{{ property.age }}</b></td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td><b>{{ property.price }}</b></td>
                </tr>
                <tr>
                    <td>Floor</td>
                    <td><b>{{ property.floor }}</b></td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td><b>{{ property.address }}</b></td>
                </tr>
            
            </tbody>
        </table>
        <div>
            <img src="{{ property.image_url }}" 
                alt="Italian Trulli" 
                width="80%" 
                height="80%"
                class="image-margin">
        </div>
    </div>
    <div class="col-md-12">
        <div class="outer-card">
            <h3>Location</h3>
            <iframe src="{{property.maps_url}}" 
            width="100%" height="250px" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>   
    </div>
</div>
<hr>
{% endblock %}